<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <% if (blocks.title) { %>
            <title><%= blocks.title %></title>
        <% } else { %>
            <title>GrapeVine</title>
        <% } %>

        <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
        <%-scripts%>
        <%-stylesheets%>
    </head>
    <body>
        <section class="main">
            <%-body -%>
        </section>
    </body>
</html>
