<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8"/>
	<title> Sign up for Grape Vine</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
	<script src="login.js"></script>
</head>
<body onload="registerHandlers()">

<!-- Header Divs -->
<div id="top">
	<h1 id="heroHeading">Sign up for Grape Vine</h1>
	<img id="hero" src="images/grapevine.jpg" alt="a grapevine hero image">
</div>

<!-- form Div -->
<div id="content">
	<form name="login" action="/registerWeb" method="post">
  	<!--Name (first and Last): <input type="text" name="name"/>-->
 	Phone Number(no spaces or dashes): <input type="text" id="phone" name="phone"> 
	<br/>
 	Username: <input type="text" id='username' name="username">
	Are you a vendor? <input type="checkbox" id="vendor" name="vendor">
  <input type="submit">
  </form>
</div>  
</body>
</html>

